<h6>コメント一覧(未返信)</h6>
<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col"></th>
            <th scope="col">投稿日</th>
            <th scope="col">スタッフ</th>
            <th scope="col">コメント</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @staff.each do |staff| %>
          <tr>
            <th scope="row"></th>
            <td><%= staff.created_at %></td>
            <td><%= staff.last_name %><%= staff.first_name %></td>
            <td><%#= staff.comment %></td>
            <td><%#= link_to "詳細", admin_information_comment_path(staff.information_id, staff.comment_id), class:"btn btn-dark" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>