<%= form_with(model: [information, comment], url: information_comments_path(@information), remote: true) do |f| %>
  <form>
    <div class="form-group">
      <%= f.text_area :comment, class:"form-control" %>
    </div>
  </form>
  <%= f.submit "送信", class:"btn btn-dark comment-submit float-right" %>
<% end %>